<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rizal.utsa.ticketbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketBox201111027_RizalKelasA">
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".FinalTiket"
            android:exported="false" />
        <activity
            android:name=".PesanTiketKonser"
            android:exported="false" />
        <activity
            android:name=".OfficialKonser"
            android:exported="false" />
        <activity
            android:name=".ItemKonser"
            android:exported="false" />
        <activity
            android:name=".ListKonser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>